// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 13px;
//$v-unit-size: 24px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin default {
  @include valo;

  // Insert your own theme rules here
}

.InvisibleButton {
  display: none;
}

.Title{
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
}

.SubTitle{
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

.ImageHome a img {
  max-width: 500px;
  max-height: 300px;
}
 
.ImageLogo img {
  max-width: 400px;
  max-height: 200px;
}

.ImagePhoto img {
  max-width: 150px;
  max-height: 200px;
}

.Border {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.CenterText{
  text-align: center;
}

.BoldText{
  font-weight: bold;
}