$v-background-color: #fafafa;
$v-app-background-color: #e7ebf2;
$v-panel-background-color: #fff;
$v-focus-color: #3b5998;
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 3px;
$v-textfield-border-radius: 0;
$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-size: 14px;
$v-font-color: #37404E;
$v-font-weight: 400;
$v-link-text-decoration: none;
$v-shadow: 0 1px 0 (v-shade 0.2);
$v-bevel: inset 0 1px 0 v-tint;
$v-unit-size: 30px;
$v-gradient: v-linear 12%;
$v-overlay-shadow: 0 3px 8px v-shade, 0 0 0 1px (v-shade 0.7);
$v-shadow-opacity: 20%;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-border-radius: 0;
$v-font-size: 13px;

@import "../valo/valo";

.InvisibleButton {
  display: none;
}

.Title{
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
}

.SubTitle{
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

.v-caption .v-caption-Caption{
	font-weight: bold;
    font-size: 16px;
}

.ImageHome a img {
  max-width: 500px;
  max-height: 300px;
}
 
.ImageLogo img {
  max-width: 400px;
  max-height: 200px;
}

.ImagePhoto img {
  max-width: 150px;
  max-height: 200px;
}

.Border {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.CenterText{
  text-align: center;
}

.BoldText{
  font-weight: bold;
}